*.log
*.class
*.exe
*.o
*.jar
*.apk
Grupo7_App/.gradle/4.6/taskHistory/taskHistory.bin
Grupo7_App/.gradle/4.6/taskHistory/taskHistory.lock
Grupo7_App/.gradle/buildOutputCleanup/buildOutputCleanup.lock
Grupo7_App/.gradle/buildOutputCleanup/outputFiles.bin
